<div class="header bg-white px-2">
  <div class="menu pt-2 flex items-end mx-auto max-w-screen-xl justify-between">
    <div routerLink="/login" class="logo cursor-pointer flex pb-2 items-center">
      <img class="object-contain h-[30px]" src="t3ex-logo.svg" alt="logo" />
      <p class="cursor-pointer text-xl pl-2 font-semibold text-blackColor">
        {{ "HEADER.LOGO_TITLE" | translate }}
      </p>
    </div>
    <div class="item">
      <ul class="flex gap-5">
        @for (item of menuList; track $index) {
        <li
          [class]="
            selectedMenu === item.key
              ? 'text-blackColor border-b-2 border-primary'
              : 'text-blackColor/70'
          "
          (click)="navigateTo(item.key, item.route)"
          class="cursor-pointer font-medium hover:text-blackColor/90 px-3 mr-1"
        >
          {{ "HEADER." + item.key | translate }}
        </li>
        }

        <li class="relative -translate-y-1">
          <div
            class="cursor-pointer hover:text-blackColor/90 flex items-center"
          >
            <p class="w-[35px] text-end">
              {{
                currentLang === "tw"
                  ? "繁中"
                  : currentLang === "cn"
                  ? "簡中"
                  : "EN"
              }}
            </p>
            <mat-icon class="text-blackColor/60 cursor-pointer"
              >language</mat-icon
            >
          </div>
          <div class="absolute top-10 -left-6">
            <div class="border w-[100px] bg-white rounded-sm">
              <div class="menu w-full mx-auto text-center px-1">
                @for (lang of ['en', 'tw', 'cn']; track $index) {
                <p
                  (click)="lanBtn(lang)"
                  class="hover:bg-blackColor/10 hover:text-blackColor/90 py-1 transition-all cursor-pointer"
                >
                  {{
                    lang === "en"
                      ? "English"
                      : lang === "tw"
                      ? "繁體中文"
                      : "簡體中文"
                  }}
                </p>
                }
              </div>
            </div>
          </div>
        </li>
        <li class="login cursor-pointer -translate-y-1 flex items-center gap-2">
          @if (account !== '' && userToken!=='') {
          <p class="pl-1">
            {{ account }}
          </p>
          <div
            [matTooltip]="'HEADER.LOGOUT' | translate"
            matTooltipPosition="above"
            style="width: 28px; height: 28px"
            class="icon hover:bg-blackColor/10 rounded-full p-[5px]"
          >
            <mat-icon
              (click)="logoutBtn()"
              class="material-icons-outlined text-[18px] text-blackColor/80 cursor-pointer"
              >logout</mat-icon
            >
          </div>
          }@else {
          <div
            (click)="loginBtn()"
            matRipple
            [matRippleColor]="rippleColor"
            class="flex items-center gap-x-1 mb-2 border rounded-md py-1 px-2 text-blackColor/60 hover:text-blackColor/70 hover:bg-blackColor/5 transition-all"
          >
            <mat-icon
              style="width: 18px; height: 18px"
              class="material-icons-outlined cursor-pointer text-sm"
              >person</mat-icon
            >
            <p class="cursor-pointer p-0 m-0 text-sm">Login</p>
          </div>
          }
        </li>
      </ul>
    </div>
  </div>
</div>
@if (toggleLogout) {
<app-logout-popup
  (toggleLogoutChange)="toggleLogoutChange($event)"
  [toggleLogout]="toggleLogout"
></app-logout-popup
>} @if (toggleLogin) {
<app-login-popup
  (toggleLoginChange)="toggleLoginChange($event)"
  [toggleLogin]="toggleLogin"
></app-login-popup
>}
