<!---------- Milestone ---------->
<div class="title flex items-center gap-2">
  <mat-icon class="text-blackColor/50">folder</mat-icon>
  <p class="text-lg text-blackColor/90 font-semibold">Milestones</p>
</div>

<table class="w-full border-collapse mb-8">
  <thead>
    <tr class="text-blackColor/90 font-semibold bg-blackColor/5">
      <th class="px-4 py-4 text-start w-auto">Order</th>
      <th class="px-4 py-4 text-start w-auto">Milestone</th>
      <th class="px-4 py-4 text-start w-auto">Date and Time</th>
      <th class="px-4 py-4 text-start w-auto">Files</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-blackColor/70 font-normal border-b">
      <td class="px-4 py-2 text-start">1</td>
      <td class="px-4 py-2 text-start">Booking Creation</td>
      <td class="px-4 py-2 text-start">2024-11-09 11:10</td>
      <td class="px-4 py-2 text-start">
        <button matRipple class="btn-outline" style="width: fit-content">
          View Images
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!---------- Flight ---------->
<div class="title flex items-center gap-2">
  <mat-icon class="text-blackColor/50">folder</mat-icon>
  <p class="text-lg text-blackColor/90 font-semibold">Flight Info</p>
</div>
<table class="w-full border-collapse mb-8">
  <thead>
    <tr class="text-blackColor/90 font-semibold bg-blackColor/5">
      <th class="px-4 py-4 text-start w-auto">Order</th>
      <th class="px-4 py-4 text-start w-auto">Flight No.</th>
      <th class="px-4 py-4 text-start w-auto">From</th>
      <th class="px-4 py-4 text-start w-auto">To</th>
      <th class="px-4 py-4 text-start w-auto">ETD</th>
      <th class="px-4 py-4 text-start w-auto">ATD</th>
      <th class="px-4 py-4 text-start w-auto">ETA</th>
      <th class="px-4 py-4 text-start w-auto">ATA</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-blackColor/70 font-normal border-b">
      <td class="px-4 py-2 text-start w-auto">1</td>
      <td class="px-4 py-2 text-start w-auto">UA00872</td>
      <td class="px-4 py-2 text-start w-auto">TPE</td>
      <td class="px-4 py-2 text-start w-auto">SFO</td>
      <td class="px-4 py-2 text-start w-auto">2024-11-09 11:10</td>
      <td class="px-4 py-2 text-start w-auto">2024-11-09 11:10</td>
      <td class="px-4 py-2 text-start w-auto">2024-11-09 11:10</td>
      <td class="px-4 py-2 text-start w-auto">2024-11-09 11:10</td>
    </tr>
  </tbody>
</table>

<!---------- Dimension ---------->

<div class="title flex items-center gap-2">
  <mat-icon class="text-blackColor/50">folder</mat-icon>
  <p class="text-lg text-blackColor/90 font-semibold">Dimensions</p>
</div>

<table class="w-full border-collapse mb-8">
  <thead>
    <tr class="text-blackColor/90 font-semibold bg-blackColor/5">
      <th class="px-4 py-4 text-start w-auto">Length</th>
      <th class="px-4 py-4 text-start w-auto">Width</th>
      <th class="px-4 py-4 text-start w-auto">Height</th>
      <th class="px-4 py-4 text-start w-auto">Pkg Qty</th>
      <th class="px-4 py-4 text-start w-auto">VW</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-blackColor/70 font-normal border-b">
      <td class="px-4 py-2 text-start w-auto">71</td>
      <td class="px-4 py-2 text-start w-auto">71</td>
      <td class="px-4 py-2 text-start w-auto">77</td>
      <td class="px-4 py-2 text-start w-auto">2</td>
      <td class="px-4 py-2 text-start w-auto">129.38</td>
    </tr>
  </tbody>
</table>
