<!---------- Files ---------->

<div class="title flex items-center gap-2">
  <mat-icon class="text-blackColor/50">folder</mat-icon>
  <p class="text-lg text-blackColor/90 font-semibold">Files</p>
</div>

<table class="w-full border-collapse mb-8">
  <thead>
    <tr class="text-blackColor/90 font-semibold bg-blackColor/5">
      <th class="px-4 py-4 text-start w-auto">ID</th>
      <th class="px-4 py-4 text-start w-auto">Type</th>
      <th class="px-4 py-4 text-start w-auto">Name</th>
      <th class="px-4 py-4 text-start w-auto">Download</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-blackColor/70 font-normal border-b">
      <td class="px-4 py-2 text-start w-auto">1</td>
      <td class="px-4 py-2 text-start w-auto">POD</td>
      <td class="px-4 py-2 text-start w-auto">filename-434fs-fj3of.jpg</td>
      <td class="px-4 py-2 text-start w-auto">
        <button matRipple class="btn-outline" style="width: fit-content">
          Download
        </button>
      </td>
    </tr>
  </tbody>
</table>
